@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url(../images/subway-lines.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: initial;
}

h1 {
    text-align: center;
    font-style: italic;
    background-color: RGBA(236, 236, 225, 0.9)
}

h2 {
    color: #2962ff;
    font-weight: normal;
    text-decoration: underline;
}

h3 {
    color: #0d47a1;
    font-weight: normal;
    text-decoration: underline;
}

p {
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
}

a {
    text-decoration: none;
    color: #2962ff;
}

a:hover {
    color: #df4d3a;
    font-weight: bolder;
}

.destaque {
    background-color: #EEECE1;
    color: #424242;
    font-size: 22px;
    line-height: 31px;
}

strong {
    font-weight: normal;
}

em {
    text-decoration: underline;
    font-style: normal;
}

mark {
    background-color: #808080;
    color: #ffffff;
}

input:focus {
    background-color: #91d7ff;
}

textarea {
    width: 400px;
    height: 150px;
    resize: vertical;
}

textarea:focus {
    background-color: #91d7ff;
}

img:hover {
    border-radius: 20px;
    border-style: double;
}

header {
    width: 960px;
    background-color: RGB(236, 236, 225, .9);
    padding: 30px;
    border: #6d6d6d dotted 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.container {
    width: 960px;
    background-color: #EEECE1;
    padding: 30px;
    border: #6d6d6d dotted 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    box-sizing: border-box;
}

.nav-menu {
    width: 300px;
    background-color: #E5BB4F;
    border: #424242 dotted 5px;
}

.subcontainer {
    width: 630px;
}

footer {
    width: 960px;
    background-color: #EEECE1;
    padding: 30px;
    border: #6d6d6d dotted 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}